<div class='header-container'>
  <div id='logo'>
    <%= image_tag("palmos_logo_text.png", :alt => "palmos logo", :width => "100") %>
  </div>
  <div class='header-nav'>
    <!-- <a href="#more">More</a> -->
    <a href="#contact">Contact</a>
    <a href="#press">Press</a>
    <a href="#product">Product</a>
    <a href="#about">About</a>
    <!-- <a href="#home">Home</a> -->
  </div>
</div>
<div class='hero-image-container'>
  <!-- <a name="home"> -->
  <h3 id='main-tag'>Wireless Sensor Network Solutions for Hydrological Risk Prediction</h3>
  <%= image_tag("main_background.png", :alt => "background", class: "background-image") %>
</div>
<div class='table-container' id="our-technology">
  <a name="product"><h1>OUR TECHNOLOGY</h1></a>
  <div id='insight-table'>
    <div id='insight-table-column'>
      <span id='insight-table-number'>01 / </span>
      <span id='insight-table-name'>INSIGHTFUL</span>
      <div id='insight-table-contents'>Our sensors work in conjunction with physical modeling to produce predicted risk scores for landslides and flooding for a given area. The system functions as an early warning system in the short term and a risk management tool in the long term.</div>
    </div>
    <div id='insight-table-column'>
      <span id='insight-table-number'>02 / </span>
      <span id='insight-table-name'>RELIABLE</span>
      <div id='insight-table-contents'>Our sensor system is integrated with Amazon Web Services so you can access the data from anywhere, at any time. Both the raw data and Palmos risk insights are available to the end user.</div>
    </div>
    <div id='insight-table-column'>
      <span id='insight-table-number'>03 / </span>
      <span id='insight-table-name'>SECURE</span>
      <div id='insight-table-contents'>We use advanced data encryption and the LoRa network protocol to maintain the security of the information our sensor systems provide.</div>
    </div>
  </div>
  <div id='no-overflow'><div class='video'><iframe width="560" height="349" src="https://www.youtube-nocookie.com/embed/31cSwym75Uw?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div></div>
</div>
<div class='table-container'>
  <a name="about"><h1>MEET PALMOS</h1></a>
  <div id='insight-table'>
    <div id='insight-table-column'>
      <i class="fa fa-commenting-o fa-5x" id='insight-table-icon' aria-hidden="true"></i>
      <hr id='insight-table-hr' />
      <div id='insight-table-name'>OUR STORY</div>
      <div id='insight-table-contents'>Palmos grew out of a Smart Cities Design Challenge entry from three graduate engineers at Columbia University. After winning the challenge with an early-stage prototype of our low-power sensor design in April 2016, Palmos won seed funding to develop a first-generation product. We are now realizing that goal.</div>
    </div>
    <div id='insight-table-column'>
      <i class="fa fa-lightbulb-o fa-5x" id='insight-table-icon' aria-hidden="true"></i>
      <hr id='insight-table-hr' />
      <div id='insight-table-name'>OUR VISION</div>
      <div id='insight-table-contents'>We envision a world where national governments and international aid organizations have on-demand access to environmental data insights that notifies them before a disaster occurs so vulnerable communities can be better protected.</div>
    </div>
    <div id='insight-table-column'>
      <i class="fa fa-share-alt fa-5x" id='insight-table-icon' aria-hidden="true"></i>
      <hr id='insight-table-hr' />
      <div id='insight-table-name'>OUR TECHNOLOGY</div>
      <div id='insight-table-contents'>We develop context-specific single-hop, low-power, high density wireless sensor networks to detect critical hydrological and other environmental signals for predictive risk modeling.</div>
    </div>
  </div>
</div>
<div class='press-container'>
  <a name="press"><h1>PRESS</h1></a>
  <div id='press-item-container'>
    <div id='press-item-date'>June 13, 2017</div>
    <div id='press-item-title'>Cleantech Open National: Cleantech Open Northeast Welcomes 2017 Cohort</div>
    <div id='press-item-description'>Cleantech Open Northeast, the Northeast region of the world’s oldest and largest cleantech accelerator program, announces its participants, including Palmos, in the annual accelerator program which culminates in a business competition...</div>
    <div id='press-item-link'><a href='https://northeast.cleantechopen.org/en/blog/cleantech-open-northeast-welcomes-2017-cohort'>More</a></div>
  </div>
  <div id='press-item-container'>
    <div id='press-item-date'>June 01, 2017</div>
    <div id='press-item-title'>Palmos wins a SBIR Phase I grant from the USDA</div>
    <div id='press-item-description'>Palmos was selected by the National Institute of Food and Agriculture under the United States Department of Agriculture for an SBIR Phase I grant for 2017-2018.</div>
    <div id='press-item-link'><a href='https://www.sbir.gov/sbirsearch/detail/1190239'>More</a></div>
  </div>
  <div id='press-item-container'>
    <div id='press-item-date'>May 08, 2017</div>
    <div id='press-item-title'>Verizon: Enabling the Next Generation of Problem Solvers</div>
    <div id='press-item-description'>Colombia President Juan Manuel Santos had a sobering message to deliver on April 2, following a devastating mudslide that hit the remote town of Mocoa located in the country’s southern region. He officially noted that there were no more people missing and all...</div>
    <div id='press-item-link'><a href='http://www.verizon.com/about/news/enabling-next-generation-problem-solvers'>More</a></div>
  </div>
  <div id='press-item-container'>
    <div id='press-item-date'>April 14, 2017</div>
    <div id='press-item-title'>Trade Arabia: AIM Startup selects winners of competition</div>
    <div id='press-item-description'>The first edition of AIM Startup, which was organised in conjunction with the seventh edition of the Annual Investment Meeting (AIM) in Dubai, named three start-ups as the winners of the Startup Pitch Competition...</div>
    <div id='press-item-link'><a href='http://www.tradearabia.com/news/IND_323440.html'>More</a></div>
  </div>
</div>
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1473.5854265606515!2d-71.10533114179891!3d42.3815066947964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37736626f8e81%3A0xf821a8b039c91b28!2s2-18+Tyler+St%2C+Somerville%2C+MA+02143!5e0!3m2!1sen!2sus!4v1515008202756" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<div id='map-container'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1473.5854265606515!2d-71.10533114179891!3d42.3815066947964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!3m2!1sen!2sus!4v1515008202756" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<div class='contact-container'>
  <a name="contact"><h1>CONTACT US</h1></a>
  <h3>Please fill your contact details below:</h3>
  <form class='contact-form' action='/contact' method='post'>
    <input type='text' name='name' id='contact-input' placeholder='name' required />
    <input type='text' name='location' id='contact-input' placeholder='city' required />
    <input type='email' name='from_email' id='contact-input' placeholder='email' required />
    <input type='number' name='phone' id='contact-input' placeholder='phone' required />
    <textarea id='contact-input' name='comments' placeholder='comments' required ></textarea>
    <input type='submit' value="Send" id='contact-input' role='button' />
  </form>
</div>
<div class='sponsor-container'>
  <h1>SUPPORTED BY</h1>
  <div id='corporate-logo-list'>
    <%= image_tag("cleantech_open.png", :alt => "cleantech open logo", :width => "150", :id => "corporate-logo") %>
    <%= image_tag("columbia_engineering.png", :alt => "columbia engineering logo", :width => "150", :id => "corporate-logo") %>
    <%= image_tag("larta_logo.png", :alt => "larta logo", :width => "150", :id => "corporate-logo") %>
    <%= image_tag("usda.png", :alt => "usda logo", :width => "150", :id => "corporate-logo") %>
    <%= image_tag("verizon_logo.png", :alt => "verizon logo", :width => "150", :id => "corporate-logo") %>
  </div>
</div>
<div class='footer'>
  <div class='contact-info'>
    <!-- <a href='/' id='contact'>palmos.co</a> -->
    <p id='contact'>10 Tyler St</p>
    <p id='contact'>Somerville, MA 02143</p>
    <a id='contact' href="tel://1-857-285-2918">(857) 285-2918</a>
  </div>
  <div id='copyright'>© 2017 by Palmos Co.</div>
</div>
