<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <title>
      <%= content_for?(:title) ? yield(:title) : "Palmos" %>
    </title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div class="flash">
        <%= content_tag :span, msg %>
      </div>
    <% end %>
    <%= javascript_pack_tag 'index.js' %>
    <%= yield %>
  </body>
</html>
